* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section-hero {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  max-width: 2500px;
  gap: 32px;
  margin-bottom: 64px;
  padding-bottom: 64px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-link-text {
  display: flex;
  gap: 16px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 64px;
}

.hero-context-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0 1 45%;
}

.hero-img-container {
  display: flex;
  max-width: 1000px;
  max-height: 1000px;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 0 1 45%;
}

.hero-img {
  width: 400px;
  height: 200px;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  max-width: 70%;
  margin-bottom: 10px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 16px;
}

.btn-hero {
  background-color: #3882f6;
  padding: 8px 24px;
  color: #e5e7eb;
}

.information-header {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.card-wrapper {
  display: flex;
  max-width: 2000px;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
}

.card-information {
  display: flex;
  flex-direction: column;
  flex: 0 1 200px;
  align-items: center;
  justify-content: center;
}

.information-images {
  width: 100%;
  height: 50%;
  margin-bottom: 0;
}

.information-subtexts {
  margin: 8px;
  text-align: center;
}

.section-quote {
  background-color: #e5e7eb;
  max-width: 2000px;
  margin-bottom: 64px;
}

.quote-content {
  display: flex;
  flex-direction: column;
  flex: 0 1 200px;
  width: 1500px;
  justify-content: center;
  align-items: center;

  margin: 48px;
}

.quote-text {
  width: 65%;
  height: auto;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.quote-author {
  font-size: 24px;
  align-self: flex-end;
  width: 40%;
}

.section-cta {
  display: flex;
  justify-content: center;
  max-width: 2000px;
  margin-bottom: 64px;
}

.cta-container {
  display: flex;
  width: 60%;
  background-color: #3882f6;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
  padding: 16px 48px;
}

.cta-content {
  display: flex;
  flex-direction: column;
}

.cta-header {
  color: #f9faf8;
  margin-bottom: 0;
}

.cta-text {
  color: #e5e7eb;
  margin-top: 0px;
}

.cta-btn {
  background-color: #3882f6;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: 900;
  margin: 16px;
  padding: 8px 24px;
  text-wrap: nowrap;
}

.footer {
  background-color: #1f2937;
}

.footer-text {
  padding: 20px;
  text-align: center;
  color: #f9faf8;
}
