body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.section-hero {
  background-color: #1f2937;
}

.header {
  font-family: Roboto;
  display: flex;
  background-color: #1f2937;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero-left {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
  flex: 1;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-right {
  flex: 1;
}

.hero-right img {
  max-width: 50%;
  height: auto;
}

.container-img-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15%;
  gap: 50px;
}
